:root {
    --padding-large: 2rem;
    --blue-dark: #0084fd;
    --grey-text: #5a6e7f;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bg-nav {
    background-color: var(--blue-dark)
}

.row {
    display: flex;
}

.row-nav {
    justify-content: space-between;
    align-items: center;
}

.row img {
    width: 80px;
    padding: 0.5rem;
}

.row svg {
   padding-right: 0.5rem
}

/* -------------- inizio section ----------- */

.card {
width: 100%;
border-radius: 10px;
background-color: #b5ddff;
padding: 2rem 2rem 0rem 2rem;
}

.row-card {
    justify-content: center;
    padding-top: var(--padding-large);
}

.card h2 {
    padding-bottom: var(--padding-large);
    color: var(--blue-dark);
}

.card p {
    line-height: 1.5rem;
    color: var(--grey-text);
    padding-bottom: var(--padding-large);
}

/* ----Button---- */

.button {
    padding-bottom: var(--padding-large);
    letter-spacing: 0.1rem;
}

.button a {
   text-decoration: none;
   color: var(--white);
   background-color: var(--blue-dark);
   padding: 0.5rem 2rem;
   border-radius: 20px;
}

/* ----Image----- */

.card img {
width: 100%;
margin-bottom: -0.8rem;
}

/* -----Icon------- */

.icon {
    font-size: 100px;
    padding-bottom: var(--padding-large);
}
    
.center {
    text-align: center;
}