:root {
    --padding-large: 2rem;
    --blue-dark: #0084fd;
    --grey-text: #5a6e7f;
    --violet-bg: #9792e4;
    --white: white;
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bg-nav {
    background-color: var(--blue-dark)
}

.row {
    display: flex;
}

.row-nav {
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 80px;
    padding: 0.5rem;
}

.row svg {
   padding-right: 0.5rem
}

.pad-bot {
    padding-bottom: var(--padding-large) ;
}

.pad-top {
    padding-top: var(--padding-large);
}
/* -------------- inizio section ----------- */

.card {
    width: 100%;
    border-radius: 10px;
    padding: 2rem 2rem 0rem 2rem;
}

.bg-card {
    background-color: #b5ddff;
}
.row-card {
    flex-wrap: wrap;
    padding-top: var(--padding-large);
}



.card h2 {
    padding-bottom: var(--padding-large);
    color: var(--blue-dark);
}

.card p {
    line-height: 1.5rem;
    color: var(--grey-text);
    padding-bottom: var(--padding-large);
}

/* ----Button---- */

.button {
    padding-bottom: var(--padding-large);
    letter-spacing: 0.1rem;
}

.button a {
   text-decoration: none;
   color: var(--white);
   background-color: var(--blue-dark);
   padding: 0.5rem 2rem;
   border-radius: 20px;
}

/* ----Images----- */
.margin-neg {
    margin-bottom: -2.2rem;
}

.img-face {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 50%;
    padding: 1rem;
}

.width100 {
    width: 100%;
    padding-bottom: var(--padding-large);
}
/* -----Icon------- */

.icon {
    width: 100%;
    font-size: 100px;
    padding-bottom: var(--padding-large);
}
    
.center {
    justify-content: center;
    text-align: center;
}

.bg-violet {
    background-color: var(--violet-bg);
}

h1 {
    text-align: start;
    color: var(--white);
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-large);
}

p.pad-top {
    color: var(--white);
line-height: 1.5rem;
    padding-bottom: var(--padding-large);
}

.bg-white {
    background-color: var(--white);
}

.border {
    border-radius: 40px;
}

#black {
    color: var(--black);
}

.white {
    color: var(--white);
}
.bg-white i {
    width: 100%;
    font-size: 50px;
    padding-bottom: var(--padding-large);
}

/* --------------------Section 3 ---------------- */

.violet {
    color: var(--violet-bg);
}

.title-size {
    font-size: 2.5rem;
}

h4 {
    line-height: 2rem;
    color: var(--black);
}

.card-container {
    padding-bottom: var(--padding-large);
}